@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
:root {
  --color-primary: #F84565;
  --color-primary-dull: #D63854;
}
*{
  font-family: "Work Sans", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) transparent;
}
body{
  color:white;
  background-color: #0A0A0A;
}
.text-gradient{
  background:linear-gradient(90deg, #0867F2, var(--color-primary));
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  
}
